---
title: "코딩 원정대⛵"
layout: default
pagination: 
  enabled: true
description: "안드로이드(Kotlin), 백엔드(Java, Spring), 기초 CS를 공부하며 정리한 내용을 기록해뒀습니다."
---

<style>
  .soyo {
    font-family: "SOYOMapleBoldTTF"
  }
</style>
<div class="container">
    
{% if page.url == "/" %}

<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-8 pt-5 pb-5 pr-lg-4 align-self-center">
                <h1 class="mb-8 soyo">새로운 도전을 좋아하는 안드로이드 개발자,<br> 남원정입니다.</h1>
                <br>
                <p class="mb-8 lead">
                    해당 블로그에선 안드로이드(Kotlin), 백엔드(Java, Spring), 기초 CS를 공부하며
                    정리한 내용을 기록해뒀습니다. 잘못된 부분/궁금한 점이 있으시면 언제든 물어봐주세요.
                </p>
                <a href="{{site.baseurl}}/resume.html" class="btn btn-dark">이력서 보러가기</a>
            </div>
            <div class="col-md-4 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/assets/images/avatar.jpg);">	
            </div>
        </div>
    </div>
</div> 

{% endif %}

<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skip the first 4 posts displayed above -->

<div class="row mt-3">
   
    <div class="col-md-8 main-loop">

        <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>
        
        {% for post in paginator.posts %}
        
            {% include main-loop-card.html %}
            <hr width="100%" color="#F0F7FF"/>
        {% endfor %}
        
        <div class="mt-5">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination"> 
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}      
        </div>
        
    </div>
    
    <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
    
</div>



</div>