<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
</div>
	<div class="col-md-6 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}"></a>
	<small class="d-block text-muted">
		<span class="catlist">
	   {% for category in post.categories %}
	   <a class="mb-1 btn btn-outline-success btn-sm btn-round ml-2 text-capitalize smoothscroll" href="{{site.baseurl}}/categories.html?category={{ category | downcase }}" ><span class="tag" data-tag="{{category | downcase}}">#{{ category }}</span></a>
	   {% endfor %}
	   </span>
   </small>
	</div>
</div>
<p class="excerpt">
	{{ post.summary | strip_html | truncate: 186}}
</p>	