<style>
    .profile-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    -moz-box-shadow: inset 0 0 20px #636161;
    -webkit-box-shadow: inset 0 0 20px #636161;
    box-shadow: inset 0 0 20px #636161;
}

mark, .mark {
    color: #177dfa;
    font-weight: 600;
    background-color: #fff;
}
.introduce {
    line-height:30px;
}
</style>
<div class="row">

    <div class="col-sm-12 col-md-12 col-print-12 introduce">
        비즈니스의 디지털 혁신을 꿈꾸는 <mark>백엔드 개발자, 남원정</mark>입니다. <br>
        <hr>
        <li>사용자 <mark>편의성, 안정성, 성능</mark>의 중요성을 알고  개발합니다.</li>
        <li>모르는 것을 <mark>빠르게 질문하고</mark>, 자신의 의견을 드러내는 것에 불편함이 없습니다.</li>
        <li>단순한 기능 구현이 아닌 <mark>시장 분석을 통해 그에 맞는 솔루션을 도출</mark>해 비즈니스의 디지털 혁신을 이루어내는 것에 관심있습니다.</li>
    </div>
</div>