<style>
    .role {
  display: block;
}

.project {
  padding: 1.5rem 0;
}

.project:first-child {
  padding-top: 0;
}

.time {
  margin-bottom: 1.5rem;
}
.mytime {
    font-size: 0.8rem;
    color:gray
}
.row-left {
  flex-basis: 1;
  padding-right: 1rem;
  flex-shrink: 0;
}

.row-right {
  flex-grow: 1;
}
.pj-name{
    font-family: 'SOYOMapleBoldTTF';
}

.pj-title{
    font-weight: 700;
}
.mul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.mul > li {
  position: relative;
  padding: 0.2rem 0 0.2rem 1rem;
}
.mul > li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  content: "•";
  color: #3a7bd5;
}
.mytags {
    margin-top: 20px;
}
.mytags > a {
    color: #177dfa;
    border-color: #177dfa;
    margin: 3px;
    
}
.mytags > a:hover {
    background-color:  #a7cfff;
}
</style>
<div class="row">
    <div class="col-md-4">

      <h3 class = "pj-name">PPAP</h3>
      <span class="role">Android Developer</span>
      <span class ="mytime"> <time datetime="2023-07">2023.07</time> - 현재 </span>
      <br>
      <div class = "mytags">
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/PnuPostAlarmProject/android" >Github</a>
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://www.youtube.com/watch?v=8qgyPO-jLPI" >동작 영상상</a>
      </div>

    </div>
    <div class="col-md-8">
      <div class="project">
        
        <h5 class = "pj-title">Description</h5>
        <p>
            부산대학교 공지사항, 학과 게시판 정보를 한번에 모아보는 서비스, PPAP
        </p>
        <h5 class = "pj-title">What did I do</h5>
        <ul class = "mul">
          <li> 구독 중인 게시판 관리 </li>
          <li> 공지사항 조회 </li>
          <li> 스크랩한 게시글 관리 </li>
        </ul>
        <h5 class = "pj-title">Tech Stack</h5>
        <p>Android, Kotlin, Jetpack Compose, Ktor, Social Login(kakao), Firebase Push Notification</p>
      </div>
    </div>
</div>
<!--순수웨딩-->
<div class="row">
  <div class="col-md-4">

    <h3 class = "pj-name">순수웨딩</h3>
    <span class="role">Backend Developer</span>
    <span class ="mytime"> <time datetime="2023-00">2023.09</time> - 현재 </span>
    <br>
    <div class = "mytags">
      <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/1jeongg/Team5_BE" >Github</a>
      <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://youtu.be/G5ozz9jOJWk" >동작 영상</a>
      <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://www.erdcloud.com/d/fww6HRj7oXL9cdp5t" >ERD</a>
      <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://unmarred-belief-362.notion.site/6fd74038970941a2ad02df0045705095?v=545b8da990c74661b2b6b560009766ff" >API문서</a>
    </div>

  </div>
  <div class="col-md-8">
    <div class="project">
      
      <h5 class = "pj-title">Description</h5>
      <p>
          투명한 가격으로 웨딩 플래너와 예비 부부를 매칭해주는 서비스, 순수웨딩
      </p>
      <h5 class = "pj-title">What did I do</h5>
      <ul class = "mul">
        <li> Spring Security를 통한 사용자 인증 및 권한 관리 </li>
        <li> 마음에 드는 포트폴리오 찜하기 </li>
        <li> 토스페이먼츠를 이용한 테스트용 결제 </li>
      </ul>
      <h5 class = "pj-title">Tech Stack</h5>
      <p>Spring Boot, Spring-JPA, Gradle, JUnit5, Github Action, krampoline, MySQL, Toss payments</p>
    </div>
  </div>
</div>
<!--PPAP-->
<!--주다-->
<div class="row">
    <div class="col-md-4">

      <h3 class = "pj-name">주다</h3>
      <span class="role">Android Developer</span>
      <span class ="mytime"> <time datetime="2022-09">2023.07</time> - 2023.07 </span>
      <br>
      <div class = "mytags">
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/1jeongg/Juda-Kotlin" >Github</a>
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://www.youtube.com/shorts/HmVXBLog6jI" > 동작 영상</a>
      </div>

    </div>
    <div class="col-md-8">
      <div class="project">
        
        <h5 class = "pj-title">Description</h5>
        <p>
            쉼터에서 독립한 청년들과 시니어를 이어주는 멘토링 서비스, 주다(Juda)
        </p>
        <h5 class = "pj-title">What did I do</h5>
        <ul class = "mul">
          <li> 관심사 데이터 추적 </li>
          <li> 멘티/멘토 찾기, 매칭하기 </li>
        </ul>
        <h5 class = "pj-title">Tech Stack</h5>
        <p>Android, Kotlin, Jetpack Compose, Retrofit2, Social Login(kakao), Firebase Database</p>
      </div>
    </div>
</div>
<!--푸릇에이블-->
<div class="row">
    <div class="col-md-4">

      <h3 class = "pj-name">푸릇에이블</h3>
      <span class="role">Android Developer</span>
      <span class ="mytime"> <time datetime="2022-09">2022.09</time> - 2023.02 </span>
      <br>
      <div class = "mytags">
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/ApptiveDev/apptive-17th-fruitable-frontend" >Github</a>
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://www.youtube.com/watch?v=BSc7iKM321Q" > 동작 영상</a>
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://play.google.com/store/apps/details?id=com.fruitable.Fruitable&pli=1" >구글 플레이 스토어</a>
      </div>

    </div>
    <div class="col-md-8">
      <div class="project">
        
        <h5 class = "pj-title">Description</h5>
        <p>
            모바일 속에서 신선하고 맛있는 과일과 채소를 만나볼 수 있는 24시간 농산물 판매장터, 푸릇에이블(Fruitable)
        </p>
        <h5 class = "pj-title">What did I do</h5>
        <ul class = "mul">
          <li> 판매글 생성, 조회 </li>
          <li> 회원가입, 로그인 </li>
        </ul>
        <h5 class = "pj-title">Tech Stack</h5>
        <p>Android, Kotlin, Jetpack Compose, Retrofit2</p>
      </div>
    </div>
</div>
<!--디바이드-->
<div class="row">
    <div class="col-md-4">

      <h3 class = "pj-name">디바이드</h3>
      <span class="role">Android Developer</span>
      <span class ="mytime"> <time datetime="2022-07">2022.07</time> - 2022.12 </span>
      <br>
      <div class = "mytags">
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/D-VIDE/D-VIDE_Android" >Github</a>
      </div>

    </div>
    <div class="col-md-8">
      <div class="project">
        
        <h5 class = "pj-title">Description</h5>
        <p>
            배달비를 절약하기 위한 지역기반 음식배달 공동주문 플랫폼 및 소셜 커뮤니티, 디바이드(D/VIDE)
        </p>
        <h5 class = "pj-title">What did I do</h5>
        <ul class = "mul">
          <li> 함께 주문할 사람 모집하기 </li>
          <li> SNS 기능 (팔로잉, 팔로워) </li>
        </ul>
        <h5 class = "pj-title">Tech Stack</h5>
        <p>Android, Kotlin, Jetpack Compose, Retrofit2, Firebase Realtime Database</p>
        </div>
    </div>
</div>
<!--잇지-->
<div class="row">
    <div class="col-md-4">

      <h3 class = "pj-name">잇지</h3>
      <span class="role">Backend Developer</span>
      <span class ="mytime"> <time datetime="2022-05">2022.05</time> - 2023.10 </span>
      <br>
      <div class = "mytags">
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/Itzy300/ItzyServer" >Github</a>
      </div>

    </div>
    <div class="col-md-8">
      <div class="project">
        
        <h5 class = "pj-title">Description</h5>
        <p>
            장애인과 비장애인이 소통할 수 있는 국내 유일무이 장애인 커뮤니티.
        </p>
        <h5 class = "pj-title">What did I do</h5>
        <ul class = "mul">
          <li> 게시글 CRUD, 좋아요, 댓글</li>
          <li> 헤로쿠 서버 배포 </li>
        </ul>
        <h5 class = "pj-title">Tech Stack</h5>
        <p>Django, heroku</p>
      </div>
    </div>
</div>
<!--아이고-->
<div class="row">
    <div class="col-md-4">

      <h3 class = "pj-name">아이고</h3>
      <span class="role">Android Developer</span>
      <span class ="mytime"> <time datetime="2022-07">2022.07</time> - 2022.10 </span>
      <br>
      <div class = "mytags">
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://github.com/igo-organization/igo-Android" >Github</a>
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://www.youtube.com/watch?v=-5HdFFgwsoU&themeRefresh=1" >동작영상</a>
        <a class="btn btn-outline-success btn-sm btn-round text-capitalize smoothscroll" href="https://play.google.com/store/apps/details?id=com.igoapp.i_go" >구글 플레이 스토어</a>
      </div>

    </div>
    <div class="col-md-8">
      <div class="project">
        
        <h5 class = "pj-title">Description</h5>
        <p>
            의료진, 환자 간 정확한 위치를 파악하여 부족한 전문 인력을 지원하기 위한
            UWB를 활용한 위치기반 호출 시스템, 아이고(I-GO)
        </p>
        <h5 class = "pj-title">What did I do</h5>
        <ul class = "mul">
          <li> FCM 서버를 통한 푸시 알림 전송 </li>
          <li> 병원, 의료진, 환자 정보 저장 및 조회 </li>
          <li> 환자 위치 정보 제공 </li>
        </ul>
        <h5 class = "pj-title">Tech Stack</h5>
        <p>Android, Kotlin, Jetpack Compose, Retrofit2, Firebase Cloud Message</p>
        </div>
    </div>
</div>