<style>
    .skill-name {
        color: #000;
        font-weight: 700;
    }
    .prize{
        margin-bottom: 10px;
        color: #177dfa
    }


</style>
<div class="row">
    <div class="col-md-2 skill-name">
      <h5>Android</h5>
    </div>
    <div class="col-md-9">
      <div class="project ">
            
        <div>
                <a class = "prize btn btn-sm btn-round " href = "">Kotlin</a>
                <a class = "prize btn btn-sm btn-round " href = ""> Jetpack-Compose </a>
                <a class = "prize btn  btn-sm btn-round " href = ""> Retrofit2 </a>
                <a class = "prize btn  btn-sm btn-round " href = ""> Ktor </a>
      
                <a class = "prize btn  btn-sm btn-round " href = "">Coroutine</a>
                <a class = "prize btn  btn-sm btn-round " href = "">MVVM</a>
                <a class = "prize btn  btn-sm btn-round " href = "">Firebase</a>
                <a class = "prize btn  btn-sm btn-round " href = "">Junit4</a>
                <a class = "prize btn  btn-sm btn-round " href = ""> UI-test</a>

                <a class = "prize btn  btn-sm btn-round " href = ""> Android Studio</a>
                <a class = "prize btn  btn-sm btn-round " href = "">Figma</a>
            </div>
         
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 skill-name">
      <h5>Backend</h5>
    </div>
    <div class="col-md-9">
      <div class="project ">
            
        <div>
                <a class = "prize btn btn-sm btn-round " href = "">Java</a>
                <a class = "prize btn btn-sm btn-round " href = ""> Spring Boot </a>
                <a class = "prize btn btn-sm btn-round " href = ""> Spring MVC </a>
                <a class = "prize btn btn-sm btn-round " href = ""> Spring Security </a>
      
                <a class = "prize btn btn-sm btn-round " href = "">Spring Data JPA</a>
                <a class = "prize btn btn-sm btn-round " href = "">Gradle</a>
                <a class = "prize btn btn-sm btn-round " href = "">Mockito</a>
                <a class = "prize btn btn-sm btn-round " href = "">Junit5</a>

                <a class = "prize btn btn-sm btn-round " href = ""> IntelliJ</a>
            </div>
         
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 skill-name">
      <h5>Etc</h5>
    </div>
    <div class="col-md-9">
      <div class="project ">
        <div >
                
               <a class = "prize btn btn-sm btn-round " href = "">Figma</a>
                <a class = "prize btn btn-sm btn-round " href = "">Notion</a>
                <a class = "prize btn btn-sm btn-round " href = "">Github</a>
                <a class = "prize btn btn-sm btn-round " href = ""> Slack</a>
                <a class = "prize btn btn-sm btn-round " href = ""> GitAction</a>
                <a class = "prize btn btn-sm btn-round " href = ""> GitKraken</a>
            </div>
         
        </div>
    </div>
</div>
