<style>
    .mbold{
        font-weight: 700;
        margin-right: 30px;
    }
    .prize {
        color: #177dfa;
        border-color: #177dfa;
        margin-right: 4px;
    }
    
</style>
<div class="row">
    <div class="col-md-2">
      <h5>2022.10</h5>
    </div>
    <div class="col-md-9">
      <div class="project row mrow">
        
        <h5 class = "mbold">IoT-X 캡스톤디자인 경진대회</h5> 
        <p>UWB를 활용한 위치기반 호출 시스템, 아이고(I-GO)의 안드로이드 애플리케이션 개발</p>
        <p class = " prize btn  btn-sm btn-round text-capitalize smoothscroll">우수상</p>
        <p class = "prize btn  btn-sm btn-round text-capitalize smoothscroll">교내 공모전</p>

      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
      <h5>2023.08</h5>
          </div>
    <div class="col-md-9">
      <div class="project row">
        
        <h5 class = "mbold">SW 중심대학 공동해커톤</h5> 
        
        <p> 쉼터에서 독립한 청년들과 시니어를 이어주는 멘토링 서비스, 주다(Juda)의 안드로이드 애플리케이션 개발</p>
        <p class = "prize btn  btn-sm btn-round text-capitalize smoothscroll">후원기업상 / 전자신문 대표상</p>
        <p class = "prize btn  btn-sm btn-round text-capitalize smoothscroll">해커톤</p>

      </div>
    </div>
</div>